# IBM watsonx.ai
# Leave these blank until you have access to your IBM project.
WATSONX_APIKEY=o5Wt2o9VwZNjNO7Q-KzeKILJ5TWI8riTS07kEd42woMR
WATSONX_PROJECT_ID=b63a351a-5cd0-46a4-9804-be8d52cda957

# Default region. Change this if your IBM project uses another region.
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# Granite model. Change this if your team is assigned a different model.
WATSONX_MODEL_ID=ibm/granite-4-h-small

# watsonx chat API version.
WATSONX_API_VERSION=2025-10-25

# Request timeout in seconds.
WATSONX_TIMEOUT_SECONDS=60